<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'app/images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/5.3.1/fabric.min.js"
      integrity="sha512-CeIsOAsgJnmevfCi2C7Zsyy6bQKi43utIjdA87Q0ZY84oDqnI0uwfM9+bKiIkI75lUeI00WG/+uJzOmuHlesMA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body>
    <main role="main" class="container d-flex flex-column justify-content-center align-items-center py-0">
      <div class="d-flex justify-content-between w-100 mt-4">
        <button type="button" class="btn btn-primary btn-lg btn-live d-flex align-items-center" value="Live!">Live!<span class="live-icon"></span></button>
        <div class="d-flex justify-content-center align-items-center">
          <label for="playDate" class="d-flex justify-content-center align-items-center" id="lblCurrentTime"></label>
        </div>
        <button type="button" class="btn btn-primary btn-lg btn-date-picker" data-bs-toggle="modal" data-bs-target="#dateTimePickerModal">
          Pick a Time
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="dateTimePickerModal" tabindex="-1" aria-labelledby="dateTimePickerModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="dateTimePickerModalLabel">Pick a date and time</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body py-4">
                <label for="date" class="col-form-label pt-0">Date:</label>
                <input id="date" class="form-control" type="date" />
                <div class="mt-2 mb-2 d-flex">
                  <div class="float-left w-50 pe-3">
                    <label for="date" class="col-form-label">Start time:</label>
                    <input id="startTime" class="form-control" type="time" step="1" />
                  </div>
                  <div class="float-right w-50 ps-3">
                    <label for="date" class="col-form-label">End time:</label>
                    <input id="endTime" class="form-control" type="time" step="1" />
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-save">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-100 mt-3 position-relative">
        {% load static %}
        <img src="{% static 'app/images/stadium.png' %}" alt="" width="100%">
        <canvas id="stadium"></canvas>
      </div>
      <div class="video-control-container d-flex align-items-center justify-content-center w-100 mt-3 mb-4">
        <button class="video-control play-button">
          <span class="video-control-play">
            <span class="video-control-symbol" aria-hidden="true">▶️</span>
          </span>
          <span class="video-control-pause">
            <span class="video-control-symbol" aria-hidden="true">⏸</span>
          </span>
        </button>
        <div class="w-100 ps-2 pe-3">
          <input type="range" min="0" max="1" step="0.00001" value="0" class="slider" id="playerRange" oninput="onValueChange(this.value)">
          <div>
            <label id="lblStartTime"></label>
            <label id="lblEndTime"></label>
            <label id="lblDuration" class="d-none"></label>
            <label id="selectedDateTime" class="d-none"></label>
            <label id="videoEnded" class="d-none"></label>
          </div>
        </div>
      </div>
    </main>
    <script>
      const canvas = this.__canvas = new fabric.StaticCanvas('stadium');
      const stadiumData = JSON.parse("{{data|escapejs}}");
      var globalID,
          current_index = 0;

      $(".btn-save").click(function(){
        let date = $("#date").val();
        let startTime = $("#startTime").val();
        let endTime = $("#endTime").val();
        let duration = Math.abs(Date.parse('01/01/2023 ' + endTime) - Date.parse('01/01/2023 ' + startTime)) / 1000;
        let durationFormat = formatTimeFromMilliseconds(Date.parse('01/01/2023 ' + endTime) - Date.parse('01/01/2023 ' + startTime));

        if(date == "" || startTime == "" || endTime == "") {
          alert("Choose a date and time.");
          return;
        }

        if(Date.parse('01/01/2023 ' + startTime) >= Date.parse('01/01/2023 ' + endTime)) {
          alert("The start date must be before the end date.");
          return;
        }
        
        $("#lblDuration").text(duration);
        $("#selectedDateTime").text("true");

        $.ajax({
          type:"GET",
          url: "/get_range_data",
          data: {
            date: date,
            startTime: startTime,
            endTime: endTime,
          },
          success: function( data ) {
            var arr = JSON.parse(data);

            $('#dateTimePickerModal').modal('hide');
            $("#lblEndTime").text(durationFormat);

            $('.play-button').addClass("playing");
            
            //set timeline slider of video player
            current_index = 0;
            $("#videoEnded").text("false");
            cancelAnimationFrame(globalID);
            requestAnimationFrame(repeatOften);
          }
        })
      });

      $('.play-button').click(function() {
        if($("#selectedDateTime").text() != "true") {
          alert("Pick a date and time");
          return;
        }

        this.classList.toggle('playing');
        cancelAnimationFrame(globalID);

        if($("#videoEnded").text() == "true") {
          // current_index = 0;
          $("#videoEnded").text("false");
          globalID = requestAnimationFrame(repeatOften);
        }else{
          if ($('.play-button').hasClass('playing')) {
            globalID = requestAnimationFrame(repeatOften);
          }
        }
      })

      $('.btn-live').click(function() {
        var R = 6378137; // Earth’s mean radius in meter
        var dLat = rad(-27.666230 - (-27.667014));
        var dLong = rad(-48.531335 - (-48.531263));
        var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
          Math.cos(rad(-27.667014)) * Math.cos(rad(-27.666230)) *
          Math.sin(dLong / 2) * Math.sin(dLong / 2);
        var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
        var d = R * c;
      });

      var rad = function(x) {
        return x * Math.PI / 180;
      };

      function repeatOften() {
        globalID = requestAnimationFrame(repeatOften);
        current_index ++;
        onChangeSecond(current_index / 60);
      }

      function onChangeSecond(current_second) {
        let duration = Number($("#lblDuration").text());
        let current_percent = current_second / duration;
        let current_date = $('#date').val();
        
        const startDate = new Date($("#date").val() + " " + $("#startTime").val());
        const currentDate = new Date(startDate.getTime() + current_second * 1000);
        const strCurrentDate = $("#date").val() + " / " + currentDate.getHours() + ":" + currentDate.getMinutes() + ":" + currentDate.getSeconds();
        
        $("#lblCurrentTime").text(strCurrentDate);
        $("#lblStartTime").text(formatTimeFromSecond(current_second));

        $("#playerRange").val(current_percent);
        if(current_percent >= 1) {
          cancelAnimationFrame(globalID);
          current_index = 0;
          $('.play-button').removeClass('playing');
          $("#videoEnded").text("true");
        }
      }

      function onValueChange(value) {
        if($("#selectedDateTime").text() != "true") {
          return;
        }
        let duration = Number($("#lblDuration").text());
        let classList = $('.play-button').attr('class');
        let arrClass = classList.split(/\s+/);
        let playStatus = arrClass.includes('playing');
        current_index = duration * value * 60;

        cancelAnimationFrame(globalID);
        if(playStatus) {
          repeatOften();
        }else{
          onChangeSecond(duration * value);
        }
      }

      function drawPlayer(current_second) {
        canvas.clear();

        var player = new fabric.Circle({
          left: current_second,
          top: current_second,
          radius: 8,
          fill: 'red',
        });

        canvas.add(player);

        // player.animate({top: '+=100', left: '+=100'}, {
        //   onChange: canvas.renderAll.bind(canvas),
        //   duration: duration * 1000 / 2,
        // });
      }

      function formatTimeFromMilliseconds(milliseconds) {
        const seconds = Math.floor((milliseconds / 1000) % 60);
        const minutes = Math.floor((milliseconds / 1000 / 60) % 60);
        const hours = Math.floor((milliseconds / 1000 / 60 / 60) % 24);

        return [
          hours.toString().padStart(2, "0"),
          minutes.toString().padStart(2, "0"),
          seconds.toString().padStart(2, "0")
        ].join(":");
      }

      function formatTimeFromSecond(second) {
        const seconds = Math.floor(second % 60);
        const minutes = Math.floor((second / 60) % 60);
        const hours = Math.floor((second / 60 / 60) % 24);

        return [
          hours.toString().padStart(2, "0"),
          minutes.toString().padStart(2, "0"),
          seconds.toString().padStart(2, "0")
        ].join(":");
      }
    </script>
  </body>
</html>
